[submodule "1-grading-tests"]
	path = 1-grading-tests
	url = git@github.com:spbu-coding-2022/1-grading-tests.git
[submodule "1-Parzival-05"]
	path = 1-Parzival-05
	url = git@github.com:spbu-coding-2022/1-Parzival-05.git
[submodule "1-ksenmel"]
	path = 1-ksenmel
	url = git@github.com:spbu-coding-2022/1-ksenmel.git
[submodule "1-therain7"]
	path = 1-therain7
	url = git@github.com:spbu-coding-2022/1-therain7.git
[submodule "1-SurfaceYellowDuck"]
	path = 1-SurfaceYellowDuck
	url = git@github.com:spbu-coding-2022/1-SurfaceYellowDuck.git
[submodule "1-osogi"]
	path = 1-osogi
	url = git@github.com:spbu-coding-2022/1-osogi.git
[submodule "1-sokolovskiy-ilya"]
	path = 1-sokolovskiy-ilya
	url = git@github.com:spbu-coding-2022/1-sokolovskiy-ilya.git
[submodule "1-ancavar"]
	path = 1-ancavar
	url = git@github.com:spbu-coding-2022/1-ancavar.git
[submodule "1-gladiuswq"]
	path = 1-gladiuswq
	url = git@github.com:spbu-coding-2022/1-gladiuswq.git
[submodule "1-wokuparalyzed"]
	path = 1-wokuparalyzed
	url = git@github.com:spbu-coding-2022/1-wokuparalyzed.git
[submodule "1-ArtyomProkopets"]
	path = 1-ArtyomProkopets
	url = git@github.com:spbu-coding-2022/1-ArtyomProkopets.git
[submodule "1-PavlushaSource"]
	path = 1-PavlushaSource
	url = git@github.com:spbu-coding-2022/1-PavlushaSource.git
[submodule "1-GryaznovAS"]
	path = 1-GryaznovAS
	url = git@github.com:spbu-coding-2022/1-GryaznovAS.git
[submodule "1-d-zaytsev"]
	path = 1-d-zaytsev
	url = git@github.com:spbu-coding-2022/1-d-zaytsev.git
[submodule "1-AlexShmak"]
	path = 1-AlexShmak
	url = git@github.com:spbu-coding-2022/1-AlexShmak.git
[submodule "1-Anna-er"]
	path = 1-Anna-er
	url = git@github.com:spbu-coding-2022/1-Anna-er.git
[submodule "1-Kuarni"]
	path = 1-Kuarni
	url = git@github.com:spbu-coding-2022/1-Kuarni.git
