[submodule "1-grading-tests"]
	path = 1-grading-tests
	url = git@github.com:spbu-coding-2022/1-grading-tests.git
[submodule "1-Parzival-05"]
	path = 1-Parzival-05
	url = git@github.com:spbu-coding-2022/1-Parzival-05.git
[submodule "1-ksenmel"]
	path = 1-ksenmel
	url = git@github.com:spbu-coding-2022/1-ksenmel.git
[submodule "1-therain7"]
	path = 1-therain7
	url = git@github.com:spbu-coding-2022/1-therain7.git
[submodule "1-SurfaceYellowDuck"]
	path = 1-SurfaceYellowDuck
	url = git@github.com:spbu-coding-2022/1-SurfaceYellowDuck.git
[submodule "1-osogi"]
	path = 1-osogi
	url = git@github.com:spbu-coding-2022/1-osogi.git
[submodule "1-sokolovskiy-ilya"]
	path = 1-sokolovskiy-ilya
	url = git@github.com:spbu-coding-2022/1-sokolovskiy-ilya.git
